* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-image: #34495e;
    background-image: url("https://i.ibb.co/jrMfnTb/background.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

caption {
    position: fixed;
    left: 500px;
    top: 300px;
}

select {
    position: relative;
    left: 150px;
    top: 30px;
}

.button {
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    display: inline;
    margin-bottom: 40px;
    width: 130px;
    height: 40px;
    background-image: url();
}

.reg {
    display: block;
    left: 100px;
    text-align: inherit;
}

label {
    padding: 5px;
    color: #222;
    font-family: corbel, sans-serif;
    font-size: 14px;
    margin: 10px;
}

.button {
    top: 45px;
    left: 4%;
    background-image: linear-gradient(135deg, #80E5EC, #6C5DE7);
}

